<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>응답 정보 출력</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">

            <li>{{code}}</li>
            <li>{{access_token}}</li>
            <li>{{userInfo}}</li>

        </div>
    </div>
</div>

</body>
</html>