<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>카카오톡 로그인 기능</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
<!--            <a href="/oauth/logIn" role="button" class="btn btn-primary">-->
            <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=55fa1de73c35cdd19f21553bd0e42ab9&redirect_uri=http://localhost:8080/oauth/kakao" role="button" class="btn btn-primary">
            로그인 버튼
            </a>
        </div>
    </div>
</div>

</body>
</html>