<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/admin/rooms/image" th:object="${roomImageAddRequestDto}"
          method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="room">숙소</label>
            <select name="roomId" id="room" class="form-control">
                <option value="">숙소 선택</option>
                <option th:each="room : ${rooms}"
                        th:value="${room.id}"
                        th:text="${room.roomName}" />
            </select>
        </div>

        <!--  image  -->
        <div class="form-group">
            <label th:for="roomImage">숙소 이미지</label><br/>
            <!-- JPEG|JPG|HEIC|PNG|-->
            <input type="file" th:field="*{roomImage}" accept="image/jpeg, image/jpg, image/heic, image/png" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>