<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/admin/rooms/new" th:object="${roomCreateRequestDto}"
          method="post">

        <div class="form-group">
            <label for="user">유저</label>
            <select name="userId" id="user" class="form-control">
                <option value="">회원선택</option>
                <option th:each="user : ${users}"
                        th:value="${user.id}"
                        th:text="${user.username}" />
            </select>
        </div>

        <div class="form-group">
            <label th:for="facility">편의시설</label>
            <div>
                <!-- TODO checkbox dropdown or checkbox -->
                <select name ="facilitiesId" multiple="multiple">
                    <option th:each="facility : ${facilities}"
                            th:value="${facility.id}"
                            th:text="${facility.facilityName}">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label th:for="category">카테고리</label>
            <div>
                <!-- TODO checkbox dropdown or checkbox -->
                <select name ="categoriesId" multiple="multiple">
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.categoryName}">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label th:for="region">region</label>
            <input type="text" th:field="*{region}" class="form-control"
                   placeholder="광역시/도 입력. (ex. 서울특별시, 경상도, 경기도)">
        </div>

        <div class="form-group">
            <label th:for="city">city</label>
            <input type="text" th:field="*{city}" class="form-control"
                   placeholder="시/군 단위. 행정구분 단위 제외. (ex. 서울, 인천, 홍천)">
        </div>

        <div class="form-group">
            <label th:for="district">district</label>
            <input type="text" th:field="*{district}" class="form-control"
                   placeholder="구/읍/면 단위. 행정구분 단위 포함. (ex. 광진구, 관악구, 오포읍)">
        </div>

        <div class="form-group">
            <label th:for="addressDetail">addressDetail</label>
            <input type="text" th:field="*{addressDetail}" class="form-control"
                   placeholder="상위 행정지역구분 제외 상세 주소. (ex. 성현로 80 166-1701)">
        </div>

        <div><a href="https://address.dawul.co.kr/" target="_blank">주소로 위도 경도 찾기</a></div>

        <div class="form-group">
            <label th:for="latitude">latitude</label>
            <input type="text" th:field="*{latitude}" class="form-control"
                   placeholder="위도를 입력해주세요. (소수점 6자리 이하까지 입력해야 정확합니다.)">
        </div>

        <div class="form-group">
            <label th:for="longitude">longitude</label>
            <input type="text" th:field="*{longitude}" class="form-control"
                   placeholder="경도를 입력해주세요. (소수점 6자리 이하까지 입력해야 정확합니다.)">
        </div>

        <div class="form-group">
            <label th:for="roomName">roomName</label>
            <input type="text" th:field="*{roomName}" class="form-control"
                   placeholder="숙소 이름을 입력해주세요.">
        </div>

        <div class="form-group">
            <label for="price">price</label>
            <input type="number" name="price" class="form-control" id="price" placeholder="가격을 입력하세요.">
        </div>

        <div class="form-group">
            <label for="maxGuest">maxGuest</label>
            <input type="number" name="maxGuest" class="form-control" id="maxGuest" placeholder="최대 인원 수를 입력하세요.">
        </div>

        <div class="form-group">
            <label for="maxPet">maxPet</label>
            <input type="number" name="maxPet" class="form-control" id="maxPet" placeholder="최대 반려동물 수를 입력하세요.">
        </div>

        <div class="form-group">
            <label th:for="description">description</label>
            <input type="text" th:field="*{description}" class="form-control"
                   placeholder="숙소 상세설명을 입력해주세요.">
        </div>

        <div class="form-group">
            <label th:for="checkinTime">checkinTime</label>
            <input type="time" th:field="*{checkinTime}" class="form-control">
        </div>

        <div class="form-group">
            <label th:for="checkoutTime">checkoutTime</label>
            <input type="time" th:field="*{checkoutTime}" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>